.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../assets/2yo.jpg');
  background-size: cover;
}

#myaboutme{
  display: flex;
justify-content: center;
}
