<div id="mycontact">
  <mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Gmail
      </mat-expansion-panel-header>

      <a mat-list-item routerLink id="mygmail">mardelplatarocio@gmail.com</a>

    </mat-expansion-panel>
  </mat-nav-list>
  <mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Linkedin
      </mat-expansion-panel-header>

      <a mat-list-item routerLink="https://www.linkedin.com/in/rociogocella/">linkedin.com/in/rociogocella</a>


    </mat-expansion-panel>
  </mat-nav-list>
</div>