<div id="mycontact">
<mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Emails
      </mat-expansion-panel-header>
  
  <a mat-list-item routerLink>gmail</a>
  <a mat-list-item routerLink>hotmail</a>
  
    </mat-expansion-panel>
  </mat-nav-list>
  <mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Redes Sociales
      </mat-expansion-panel-header>
  
  <a mat-list-item routerLink>twitter</a>
  <a mat-list-item routerLink>facebook</a>
  <a mat-list-item routerLink>instagram</a>
  
    </mat-expansion-panel>
  </mat-nav-list>
</div>