
<h1>Bilingual Children</h1>
<owl-carousel-o [options]="customOptions">
<!--
  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide >
      <img [src]="slide.path">
     
    </ng-template>
  </ng-container>
-->
<ng-container *ngFor="let slide of slidesStore">
  <ng-template carouselSlide [id]="slide.id">
    <img [src]="slide.path"  [title]="slide.title">
  </ng-template>
</ng-container>


</owl-carousel-o>

<div id="thecards" class="container"
         fxLayout>
    <div fxFlex="25%" fxShow.lt-sm="false">
      
    </div>
    <div fxFlex>
      <div id="myaboutme">
        <mat-card class="example-card">
        <mat-card-header>
         
          <mat-card-title>The right to play</mat-card-title>
         
        </mat-card-header>
        <img mat-card-image src="../../../assets/park1920x480.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
      
            <h3>Every child has aright to have time and somewhere safe to play . All children should be allowed to have privacy if they want to spend some time on thir own reading a book or drawing.</h3>
       
        </mat-card-content>
        
      </mat-card>
      </div>
    </div>
  </div>

  <div id="thecards" class="container"
  fxLayout>
<div fxFlex="25%" fxShow.lt-sm="false">

</div>
<div fxFlex>
<div id="myaboutme">
 <mat-card class="example-card">
 <mat-card-header>
  
   <mat-card-title>Play is powerfull</mat-card-title>
  
 </mat-card-header>
 <img mat-card-image src="../../../assets/books1920x480.jpg" alt="Photo of a Shiba Inu">
 <mat-card-content>

  <h3>The games create lasting impact and empower children with the knowledge and skills to drive change in their lives.</h3>
 </mat-card-content>
 
</mat-card>
</div>
</div>
</div>


<div id="thecards" class="container"
         fxLayout>
    <div fxFlex="25%" fxShow.lt-sm="false">
      
    </div>
    <div fxFlex>
      <div id="myaboutme">
        <mat-card class="example-card">
        <mat-card-header>
         
          <mat-card-title>learn throught the game</mat-card-title>
         
        </mat-card-header>
        <img mat-card-image src="../../../assets/music1920x480.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
      
         <h3> Different types of play give children the opportunity to learn english or more languages       </h3>
        </mat-card-content>
        
      </mat-card>
      </div>
    </div>
  </div>









