.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  #toolbar   {
    position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      font-weight: 600;
      ;
    }
    a
    {
      color:white;
    }