

<div id="toolbar">
<mat-toolbar color="primary">
   <a routerLink=""><mat-icon class="example-icon"  aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
  <a routerLink="aboutme"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example help icon">help</mat-icon></a> 
  <a routerLink="contact"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example contact_page icon">contact_page</mat-icon></a> 
  <span class="example-spacer"></span><a routerLink="SignUp">Register</a>
  <span class="example-spacer"></span><a routerLink="login">Login</a>
 

</mat-toolbar>


</div>




