

<div id="toolbar">
<mat-toolbar color="primary">
   <a routerLink=""><mat-icon class="example-icon"  aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
  <a routerLink="aboutme"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example help icon">help</mat-icon></a> 
  <a routerLink="contact"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example contact_page icon">contact_page</mat-icon></a> 
  <a href="https://www.facebook.com/groups/411860619704539"  target="_blank"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example facebook icon">facebook</mat-icon></a>
  <span class="example-spacer"></span><a routerLink="login">Login</a>

</mat-toolbar>


</div>




