<div id="mylogin">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
    <mat-label>Login</mat-label>
    <p>
      <mat-form-field appearance="legacy">


        <mat-label for="inputEmail">Email</mat-label>
        <input matInput placeholder="example@gmail.com" formControlName="email" id="inputEmail" class="form-control"
          placeholder="Email address" autofocus>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>*required</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label for="inputPassword">Password</mat-label>
        <input type="password" matInput placeholder="*****" formControlName="password" id="inputPassword"
          class="form-control">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>*required</mat-hint>
      </mat-form-field>
    </p>

    <button class="btn btn-lg btn-primary btn-block btn-secondary" type="submit" [disabled]="!loginForm.valid">Sign
      in</button>
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  </form>
</div>