
<div id="mylogin">
<form action="">
<p>
<mat-form-field appearance="legacy">
    <mat-label>email</mat-label>
    <input matInput placeholder="example@gmail.com">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>required</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>password</mat-label>
    <input type="password" matInput placeholder="*****">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>required</mat-hint>
  </mat-form-field>
</p>

<button type="button" class="btn btn-secondary">Sign in</button>

</form>
</div>
